@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section-width-height {
  width: 100%;
  height: 100vh;
}

.box-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .box-padding {
    padding: 0 12px;
  }
}

.home-heading {
  font-family: "Roboto", sans-serif;
  font-size: 7.5rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .home-heading {
    font-size: 6.5rem;
  }
}
@media (max-width: 768px) {
  .home-heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 576px) {
  .home-heading {
    font-size: 2.65rem;
  }
}

.nav-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.sm-font {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.sm-font-20 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.label {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.custom-btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A41CC;
  border: 2px solid #1A41CC;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 1.85rem 5.625rem;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}
.custom-btn:hover, .custom-btn:focus {
  color: #ffffff;
  background: #1A41CC;
}
@media (max-width: 768px) {
  .custom-btn {
    padding: 1.5rem 5rem;
  }
}
@media (max-width: 576px) {
  .custom-btn {
    padding: 1.25rem 2.875rem;
  }
}

.main-bg-color {
  background: #FAF3E0;
}

.light-skin {
  color: #FAF3E0;
}

.mid-skin {
  color: #EABF9F;
}

.dark-skin {
  color: #B68973;
}

.purple {
  color: #1A41CC;
}

.brown {
  color: #474747;
}

.dark-blue {
  color: #1E212D;
}

.white {
  color: #ffffff;
}

.grey {
  color: #c4c4c4;
}

.drop-shadow {
  box-shadow: 0px 15px 22px -7px rgba(0, 0, 0, 0.1);
}

.sideMenu {
  position: fixed;
  left: 0;
  width: 120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  z-index: 99;
}
.sideMenu:hover, .sideMenu:focus {
  width: 220px;
}
.sideMenu:hover .nav-link p, .sideMenu:focus .nav-link p {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .sideMenu {
    left: -100%;
    opacity: 0;
    width: 220px;
  }
}

.sidemenuactive {
  left: 0;
  opacity: 1;
}
.sidemenuactive .nav-link p {
  opacity: 1 !important;
}

.navbar-container {
  background: #1E212D;
  height: 100vh;
  overflow-x: hidden;
}
.navbar-container a.logo-container {
  width: 100%;
  padding: 1.875rem 0;
  background: #2E3347;
}
.navbar-container .nav-item {
  margin: 1.25rem 0;
  position: relative;
  padding: 0.5rem 0;
}
.navbar-container .nav-item:hover, .navbar-container .nav-item:focus {
  background: #2E3347;
  box-shadow: 0px 8px 15px 0px rgba(24, 24, 24, 0.85);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.navbar-container .nav-link p {
  position: absolute;
  opacity: 0;
  left: 50px;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}
.navbar-container .scroll-down {
  position: relative;
}
.navbar-container .scroll-down p.sm-font {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
@media only screen and (max-height: 700px) {
  .navbar-container .scroll-down p.sm-font {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    margin-bottom: 1.125rem;
  }
}
.navbar-container .scroll-down .scroll-down-text {
  position: relative;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.burger-menu {
  position: fixed;
  top: 35px;
  right: 50px;
  display: none;
  z-index: 99;
}
.burger-menu .line {
  width: 60px;
  height: 5px;
  background: #1E212D;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 10px 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.burger-menu .line:last-child {
  width: 50%;
}
.burger-menu:hover, .burger-menu:focus {
  cursor: pointer;
}
.burger-menu:hover .line:last-child, .burger-menu:focus .line:last-child {
  width: 100%;
  background: #B68973;
}
@media screen and (max-width: 992px) {
  .burger-menu {
    display: block;
    right: 25px;
  }
}

.burgermenuclick .line {
  background: #ffffff;
}
.burgermenuclick .line:first-child {
  transform: rotate(45deg) translate(10px, 0);
  -webkit-transform: rotate(45deg) translate(10px, 0);
  -moz-transform: rotate(45deg) translate(10px, 0);
  -ms-transform: rotate(45deg) translate(10px, 0);
  -o-transform: rotate(45deg) translate(10px, 0);
}
.burgermenuclick .line:last-child {
  width: 100%;
  transform: rotate(-45deg) translate(10px, 0);
  -webkit-transform: rotate(-45deg) translate(10px, 0);
  -moz-transform: rotate(-45deg) translate(10px, 0);
  -ms-transform: rotate(-45deg) translate(10px, 0);
  -o-transform: rotate(-45deg) translate(10px, 0);
}

.mobile-logo {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
}
.mobile-logo img {
  max-width: 90%;
}
@media screen and (max-width: 992px) {
  .mobile-logo {
    display: block;
  }
}
@media (max-width: 576px) {
  .mobile-logo {
    display: none;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(30, 33, 45, 0.5);
  position: fixed;
  top: 0;
  z-index: 98;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  display: none;
}

.overlay_active {
  opacity: 1;
  display: block;
}

.navactive {
  box-shadow: 0px 8px 15px 0px rgba(24, 24, 24, 0.85);
}

.outerWrapper {
  margin-left: 280px;
}
@media (max-width: 1200px) {
  .outerWrapper {
    margin-left: 240px;
  }
}
@media (max-width: 992px) {
  .outerWrapper {
    margin-left: 0;
  }
}

#homepage {
  position: relative;
}
#homepage .social-media-container {
  position: absolute;
  right: 2%;
  bottom: 25px;
}
#homepage .social-media-block {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#homepage .social-media-block i {
  font-size: 2rem;
  color: #1A41CC;
}
#homepage .social-media-block:hover i, #homepage .social-media-block:focus i {
  color: #B68973;
}

.social-media-line {
  width: 600px;
  height: 1px;
  background: #1A41CC;
}
@media (max-width: 992px) {
  .social-media-line {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .social-media-line {
    width: 200px;
  }
}

#about {
  padding-top: 150px;
}
@media (max-width: 1024px) {
  #about .page-title .social-media-line {
    width: 200px;
  }
}
@media (max-width: 576px) {
  #about .page-title .social-media-line {
    width: 50px;
  }
}
#about .about-container {
  width: 90%;
  margin: 0 auto;
}
#about .about-container img.my-profile {
  max-width: 500px;
  width: 100%;
  filter: sepia(1);
  -webkit-filter: sepia(1);
}
#about .about-container img.my-profile:hover, #about .about-container img.my-profile:focus {
  cursor: pointer;
  filter: sepia(0);
  -webkit-filter: sepia(0);
}
@media (max-width: 1200px) {
  #about .about-container img.my-profile {
    display: none;
  }
}
@media (max-width: 992px) {
  #about .about-container img.my-profile {
    max-width: 350px;
  }
}
#about .about-container .my-information-block {
  max-width: 950px;
}
@media (max-width: 1200px) {
  #about .about-container .my-information-block {
    z-index: 1;
  }
}
#about .about-container .my-para-block {
  background: #ffffff;
  padding: 3.125rem 4.375rem;
  margin-bottom: 3.125rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media (max-width: 576px) {
  #about .about-container .my-para-block {
    padding: 2.125rem 1.375rem;
    margin-bottom: 1.125rem;
  }
  #about .about-container .my-para-block .sm-font-20 {
    font-size: 1rem;
  }
}
#about .about-container .resume-btn a.custom-btn {
  padding: 20px 30px;
}
#about .about-container .resume-btn a.custom-btn i {
  font-size: 1.25rem;
}
#about .about-container .resume-btn a.custom-btn i, #about .about-container .resume-btn a.custom-btn span {
  margin: 0 0.5rem;
}

img {
  transition: filter 0.25s ease;
  -webkit-transition: filter 0.25s ease;
  -moz-transition: filter 0.25s ease;
  -ms-transition: filter 0.25s ease;
  -o-transition: filter 0.25s ease;
}

.skills-icon-container {
  padding: 100px 50px;
  margin-top: 7.75rem;
  background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (max-width: 992px) {
  .skills-icon-container {
    padding: 70px 30px;
  }
}
.skills-icon-container .col-lg-6 {
  min-height: calc(100vh - 15.5rem);
}
@media (min-width: 992px) {
  .skills-icon-container .col-lg-6:first-child {
    border-right: 1px solid #c4c4c4;
  }
}
.skills-icon-container .experience-block ul li {
  list-style: disc;
}
@media (max-width: 992px) {
  .skills-icon-container .experience-block ul {
    padding-left: 0.85rem;
  }
}
.skills-icon-container .tech-skill-block img {
  max-height: 48px;
  object-fit: cover;
}
.skills-icon-container .tech-skill-block .tech-skill {
  margin: 10px;
  padding: 30px;
}
.skills-icon-container .tech-skill-block .tech-skill:hover img, .skills-icon-container .tech-skill-block .tech-skill:focus img {
  cursor: pointer;
  filter: sepia(1);
  -webkit-filter: sepia(1);
}

.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: relative;
}

.swiper-pagination-bullet {
  background: #1A41CC !important;
}

#my-projects {
  padding: 150px 0;
}
@media (max-width: 1024px) {
  #my-projects .page-title .social-media-line {
    width: 200px;
  }
}
@media (max-width: 576px) {
  #my-projects .page-title .social-media-line {
    width: 50px;
  }
}
#my-projects > .row {
  width: 90%;
  margin: 100px auto 0 auto;
}
@media (max-width: 576px) {
  #my-projects > .row {
    margin: 50px auto 0 auto;
  }
}
#my-projects .project-block {
  position: relative;
  overflow: hidden;
  max-width: 463px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#my-projects .project-block .project-details {
  position: absolute;
  top: 100%;
  left: 100%;
  opacity: 0;
  min-height: 100%;
  background: rgba(250, 243, 224, 0.95);
  padding: 20px 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#my-projects .project-block .tech-block > p {
  font-weight: bold;
}
#my-projects .project-block .tech-block .tech-used p {
  background: #B68973;
  padding: 5px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: bold;
}
#my-projects .project-block:hover, #my-projects .project-block:focus {
  cursor: pointer;
}
@media (max-width: 576px) {
  #my-projects .project-block:hover, #my-projects .project-block:focus {
    min-height: 450px;
  }
}
#my-projects .project-block:hover .project-details, #my-projects .project-block:focus .project-details {
  top: 0;
  left: 0;
  opacity: 1;
}
#my-projects .project-block .github-live a u {
  font-weight: bold;
}

#contact > .form-container {
  padding: 100px 0;
  min-height: 100%;
}
#contact form label {
  max-width: 800px;
  width: 100%;
}
#contact form label > input, #contact form textarea {
  width: 100%;
}
#contact form input, #contact form textarea {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #1A41CC;
  padding: 0.9375rem 0.625rem;
}
#contact form ::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  opacity: 0.45;
  color: #1A41CC;
}
#contact form button[type=submit] {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A41CC;
  border: 1px solid #1A41CC;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 0.9375rem 10px;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  width: 200px;
}
#contact form button[type=submit]:hover, #contact form button[type=submit]:focus {
  color: #ffffff;
  background: #1A41CC;
}
@media (max-width: 768px) {
  #contact form button[type=submit] {
    padding: 1.5rem 5rem;
  }
}
@media (max-width: 576px) {
  #contact form button[type=submit] {
    padding: 1.25rem 2.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
