@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section-width-height {
  width: 100%;
  height: 100vh;
}

.box-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .box-padding {
    padding: 0 12px;
  }
}

.home-heading {
  font-family: "Roboto", sans-serif;
  font-size: 7.5rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .home-heading {
    font-size: 6.5rem;
  }
}
@media (max-width: 768px) {
  .home-heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 576px) {
  .home-heading {
    font-size: 2.65rem;
  }
}

.nav-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.sm-font {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.custom-btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A41CC;
  border: 2px solid #1A41CC;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 1.85rem 5.625rem;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}
.custom-btn:hover, .custom-btn:focus {
  color: #ffffff;
  background: #1A41CC;
}
@media (max-width: 768px) {
  .custom-btn {
    padding: 1.5rem 5rem;
  }
}
@media (max-width: 576px) {
  .custom-btn {
    padding: 1.25rem 2.875rem;
  }
}

.main-bg-color {
  background: #FAF3E0;
}

.light-skin {
  color: #FAF3E0;
}

.mid-skin {
  color: #EABF9F;
}

.dark-skin {
  color: #B68973;
}

.purple {
  color: #1A41CC;
}

.brown {
  color: #474747;
}

.dark-blue {
  color: #1E212D;
}

.white {
  color: #ffffff;
}

.sideMenu {
  position: fixed;
  left: 0;
  width: 120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  z-index: 99;
}
.sideMenu:hover, .sideMenu:focus {
  width: 220px;
}
.sideMenu:hover .nav-link p, .sideMenu:focus .nav-link p {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .sideMenu {
    left: -100%;
    opacity: 0;
    width: 220px;
  }
}

.sidemenuactive {
  left: 0;
  opacity: 1;
}
.sidemenuactive .nav-link p {
  opacity: 1 !important;
}

.navbar-container {
  background: #1E212D;
  height: 100vh;
  overflow-x: hidden;
}
.navbar-container a.logo-container {
  width: 100%;
  padding: 1.875rem 0;
  background: #2E3347;
}
.navbar-container .nav-item {
  margin: 1.25rem 0;
  position: relative;
  padding: 0.5rem 0;
}
.navbar-container .nav-item:hover, .navbar-container .nav-item:focus {
  background: #2E3347;
  box-shadow: 0px 8px 15px 0px rgba(24, 24, 24, 0.85);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.navbar-container .nav-link p {
  position: absolute;
  opacity: 0;
  left: 50px;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}
.navbar-container .scroll-down {
  position: relative;
}
.navbar-container .scroll-down p.sm-font {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
@media only screen and (max-height: 700px) {
  .navbar-container .scroll-down p.sm-font {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    margin-bottom: 1.125rem;
  }
}
.navbar-container .scroll-down .scroll-down-text {
  position: relative;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.burger-menu {
  position: fixed;
  top: 35px;
  right: 50px;
  display: none;
  z-index: 99;
}
.burger-menu .line {
  width: 60px;
  height: 5px;
  background: #1E212D;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 10px 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.burger-menu .line:last-child {
  width: 50%;
}
.burger-menu:hover, .burger-menu:focus {
  cursor: pointer;
}
.burger-menu:hover .line:last-child, .burger-menu:focus .line:last-child {
  width: 100%;
  background: #B68973;
}
@media screen and (max-width: 992px) {
  .burger-menu {
    display: block;
    right: 25px;
  }
}

.burgermenuclick .line {
  background: #ffffff;
}
.burgermenuclick .line:first-child {
  transform: rotate(45deg) translate(10px, 0);
  -webkit-transform: rotate(45deg) translate(10px, 0);
  -moz-transform: rotate(45deg) translate(10px, 0);
  -ms-transform: rotate(45deg) translate(10px, 0);
  -o-transform: rotate(45deg) translate(10px, 0);
}
.burgermenuclick .line:last-child {
  width: 100%;
  transform: rotate(-45deg) translate(10px, 0);
  -webkit-transform: rotate(-45deg) translate(10px, 0);
  -moz-transform: rotate(-45deg) translate(10px, 0);
  -ms-transform: rotate(-45deg) translate(10px, 0);
  -o-transform: rotate(-45deg) translate(10px, 0);
}

.mobile-logo {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
@media screen and (max-width: 992px) {
  .mobile-logo {
    display: block;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(30, 33, 45, 0.5);
  position: fixed;
  top: 0;
  z-index: 98;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  display: none;
}

.overlay_active {
  opacity: 1;
  display: block;
}

.navactive {
  box-shadow: 0px 8px 15px 0px rgba(24, 24, 24, 0.85);
}

.outerWrapper {
  margin-left: 280px;
}
@media (max-width: 1200px) {
  .outerWrapper {
    margin-left: 240px;
  }
}
@media (max-width: 992px) {
  .outerWrapper {
    margin-left: 0;
  }
}

#homepage {
  position: relative;
}
#homepage .social-media-container {
  position: absolute;
  right: 2%;
  bottom: 25px;
}
#homepage .social-media-line {
  width: 600px;
  height: 1px;
  background: #1A41CC;
}
@media (max-width: 992px) {
  #homepage .social-media-line {
    width: 400px;
  }
}
@media (max-width: 576px) {
  #homepage .social-media-line {
    width: 200px;
  }
}
#homepage .social-media-block {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#homepage .social-media-block i {
  font-size: 2rem;
  color: #1A41CC;
}
#homepage .social-media-block:hover i, #homepage .social-media-block:focus i {
  color: #B68973;
}

/*# sourceMappingURL=style.css.map */
