// .swiper {
//    width: 100%;
//    min-height: 100%;
//  }

 .swiper-slide {
   // text-align: center;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   -webkit-justify-content: start;
   justify-content: start;
   -webkit-box-align: start;
   -ms-flex-align: start;
   -webkit-align-items: start;
   align-items: start;
 }

 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: relative;
 }

 .swiper-pagination-bullet{
    background: $purple !important;
 }