$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Colors
$light_skin : #FAF3E0;
$mid_skin: #EABF9F;
$dark_skin : #B68973;
$purple : #1A41CC;
$brown : #474747;
$dark_blue : #1E212D;
$white: #ffffff;
$logo-shade: #2E3347;
$grey: #c4c4c4;

// Fonts
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;

// font-sizes Headings

$home-font: 7.5rem; //120px
$page-title: 1.5rem; //24px
$btn-font: 1.125rem; //18px
$para-text: 1rem;
$sm-font: 0.875rem; //14px

